<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>

    </head>
    <style>
        .error {
            color: blueviolet;
        }
        
    </style>
<body>
    <header>
        <ul id="nav">
            <li><a href="/">home</a></li>
            <li><a href="/blog">all posts</a></li>
            <li><a href="/newpost">new post</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </header>
  

    <div class="container">

    {% block content %}

    {% endblock %}

    </div>


</body>
</html>